---
export interface Props {
	title: string;
}
const { title } = Astro.props;
---

<h1>
	<a href="/posts" class="font-extrabold text-transparent text-3xl bg-clip-text bg-gradient-to-r   from-green-400 via-blue-500 to-purple-600">{title}</a>
</h1>

